<section class="s2">
  <div class="about-heading">
    <h2>About FIIESTA</h2>
  </div>
  <div class="about-container">
    <div class="about-wrapper">
      <div class="about-fiiesta">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
          magni deserunt fuga suscipit dolorem, velit quibusdam quam officia
          perspiciatis nam, nostrum ab sed, hic expedita!
        </p>
        <p>
          Corporis eum eligendi nihil ad voluptate praesentium laudantium
          reprehenderit odit quis deserunt ipsum ducimus aut nemo, aliquid,
          fugiat aliquam, corrupti sequi quasi quaerat hic. Architecto, ipsa!
          Voluptatibus velit animi optio sed voluptatum eaque omnis, veritatis,
          maxime ullam, iusto ex. Fugiat quas rerum laborum, reprehenderit dolor
          provident veniam suscipit? Omnis eius sunt sed nihil recusandae
          aspernatur nobis dignissimos, aliquid molestias. Enim vero id animi
          nulla, qui tempora nam? At officiis et suscipit neque accusantium
          officia excepturi?
        </p>
      </div>
      <div class="reference-images">
        <img id="ref_img" src="images/hotel.PNG" />
        <img id="ref_img" src="images/hotel.PNG" />
      </div>
    </div>
  </div>
</section>
