<section class="s1 post-section">
  <h2>
    <ul class="list list--inline">
      <li class="list__item list__primary">Why</li>
      <li class="list__item list__secondary">Choose Us</li>
    </ul>
  </h2>
  <div class="post-wrapper">
    <div class="post">
      <img class="thumbnail" src="images/f-crab-1.PNG" />
      <h5 class="post-title">Pick a time</h5>
      <p class="post-intro">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta,
        doloremque.
      </p>
    </div>
    <div class="post">
      <img class="thumbnail" src="images/f-crab-1.PNG" />
      <h5 class="post-title">Book Instantly</h5>
      <p class="post-intro">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta,
        doloremque.
      </p>
    </div>
    <div class="post">
      <img class="thumbnail" src="images/f-crab-1.PNG" />
      <h5 class="post-title">100% Safe</h5>
      <p class="post-intro">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta,
        doloremque.
      </p>
    </div>
  </div>
</section>
