<section>
  <footer class="footer">
    <div class="footer-left">
      <h1>FIIESTA</h1>
      <p>
        Fiiesta.com is registered in England and Wales.Company No.3867543
      </p>
      <p>
        Registered address: 3rd floor,120 Holborn, London ECIN 2TD, United
        Kingdom. VAT number:791^^7261 06.
      </p>
      <div class="socials">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-telegram"></i></a>
      </div>
    </div>
    <ul class="footer-right">
      <li>
        <h2>More Info</h2>
        <ul class="box">
          <li><a href="#">About Greenline</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Greenline Partener Solutions</a></li>
          <li><a href="#">Affiliates and Partenerships</a></li>
          <li><a href="#">Terms and Conditions/Security</a></li>
          <li><a href="#">Privacy/Cookies</a></li>
          <li><a href="#">Modern Salary Act(UK)</a></li>
        </ul>
      </li>
      <li class="features">
        <h2>Useful Links</h2>
        <ul class="box">
          <li>
            <a href="#"
              >Help and Useful Information<i
                class="fa fa-plus"
                aria-hidden="true"
              ></i
            ></a>
          </li>
          <li>
            <a href="#"
              >Help and Useful Information<i
                class="fa fa-plus"
                aria-hidden="true"
              ></i
            ></a>
          </li>
          <li>
            <a href="#"
              >Help and Useful Information<i
                class="fa fa-plus"
                aria-hidden="true"
              ></i
            ></a>
          </li>
          <li>
            <a href="#"
              >Help and Useful Information<i
                class="fa fa-plus"
                aria-hidden="true"
              ></i
            ></a>
          </li>
          <li>
            <a href="#"
              >Help and Useful Information<i
                class="fa fa-plus"
                aria-hidden="true"
              ></i
            ></a>
          </li>
          <li>
            <a href="#"
              >Help and Useful Information<i
                class="fa fa-plus"
                aria-hidden="true"
              ></i
            ></a>
          </li>
          <li>
            <a href="#"
              >Help and Useful Information<i
                class="fa fa-plus"
                aria-hidden="true"
              ></i
            ></a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="footer-bottom">
      <p>
        Copyright &copy; 2021 Greenline.com Limited and its affiliated
        companies.All right reserved.
      </p>
      <p>Terms and Conditions | Privacy Policy</p>
    </div>
  </footer>
</section>