<section class="s2 testimonial__section">
  <div class="testimonials-carousel-wrap">
    <div class="container">
      <div class="section-title">
        <header class="section-header">
          <h4>CUSTOMER TESTIMONIAL</h4>
          <h2>What They think of us</h2>
          <p>We are happy when are customers are too</p>
          <!-- <button class="btn btn--outline btn--stretched">CTA Button</button> -->
        </header>
      </div>
    </div>
    <div class="listing-carousel-button listing-carousel-button-next">
      <i class="fa fa-caret-right" style="color: #fff"></i>
    </div>
    <div class="listing-carousel-button listing-carousel-button-prev">
      <i class="fa fa-caret-left" style="color: #fff"></i>
    </div>
    <div class="testimonials-carousel">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <!-- first -->
          <div class="swiper-slide">
            <div class="testi-item">
              <div class="testi-avatar">
                <img src="images/f-testimonail-1.PNG" alt="Happy customer" />
              </div>
              <div class="testimonials-text-before">
                <i class="fa fa-quote-right"></i>
              </div>
              <div class="testimonials-text">
                <div class="listing-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <p>
                  Booking was very good, young lady from your office called me
                  and spoke to me in English and gave me support, also answered
                  my questions. Thank you, will use the train any time if I can.
                </p>
                <svg
                  style="margin-bottom: -2.5rem"
                  class="icon icon--primary quote__line"
                  height="210"
                  width="500"
                >
                  <line
                    x1="0"
                    y1="2.5"
                    x2="100"
                    y2="2.5"
                    style="stroke: rgb(255, 187, 0); stroke-width: 4"
                  />
                </svg>
                <div class="testimonials-avatar">
                  <h3>Jaxon Clarke</h3>
                  <h4>Kensington, London</h4>
                </div>
              </div>
              <div class="testimonials-text-after">
                <i class="fa fa-quote-left"></i>
              </div>
            </div>
          </div>

          <!-- second -->
          <div class="swiper-slide">
            <div class="testi-item">
              <div class="testi-avatar">
                <img src="images/f-testimonail-2.PNG" alt="Happy customer" />
              </div>
              <div class="testimonials-text-before">
                <i class="fa fa-quote-right"></i>
              </div>
              <div class="testimonials-text">
                <div class="listing-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <p>
                  Quick and easy ... the purchase confirmation was immediate
                  although there was a wait time for the release of the actual
                  e-tickets ... when they finally came, the check-in itself at
                  the train was great.
                </p>
                <svg
                  style="margin-bottom: -2.5rem"
                  class="icon icon--primary quote__line"
                  height="210"
                  width="500"
                >
                  <line
                    x1="0"
                    y1="2.5"
                    x2="100"
                    y2="2.5"
                    style="stroke: rgb(255, 187, 0); stroke-width: 4"
                  />
                </svg>
                <div class="testimonials-avatar">
                  <h3>Harold Adams</h3>
                  <h4>Chelsea, London</h4>
                </div>
              </div>
              <div class="testimonials-text-after">
                <i class="fa fa-quote-left"></i>
              </div>
            </div>
          </div>

          <!-- third -->
          <div class="swiper-slide">
            <div class="testi-item">
              <div class="testi-avatar">
                <img src="images/f-testimonail-1.PNG" alt="Happy customer" />
              </div>
              <div class="testimonials-text-before">
                <i class="fa fa-quote-right"></i>
              </div>
              <div class="testimonials-text">
                <div class="listing-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <p>
                  Booking was very good, young lady from your office called me
                  and spoke to me in English and gave me support, also answered
                  my questions. Thank you, will use the train any time if I can.
                </p>
                <svg
                  style="margin-bottom: -2.5rem"
                  class="icon icon--primary quote__line"
                  height="210"
                  width="500"
                >
                  <line
                    x1="0"
                    y1="2.5"
                    x2="100"
                    y2="2.5"
                    style="stroke: rgb(255, 187, 0); stroke-width: 4"
                  />
                </svg>
                <div class="testimonials-avatar">
                  <h3>Jaxon Clarke</h3>
                  <h4>Kensington, London</h4>
                </div>
              </div>
              <div class="testimonials-text-after">
                <i class="fa fa-quote-left"></i>
              </div>
            </div>
          </div>

          <!-- fourth -->
          <div class="swiper-slide">
            <div class="testi-item">
              <div class="testi-avatar">
                <img src="images/f-testimonail-2.PNG" alt="Happy customer" />
              </div>
              <div class="testimonials-text-before">
                <i class="fa fa-quote-right"></i>
              </div>
              <div class="testimonials-text">
                <div class="listing-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <p>
                  Quick and easy ... the purchase confirmation was immediate
                  although there was a wait time for the release of the actual
                  e-tickets ... when they finally came, the check-in itself at
                  the train was great.
                </p>
                <svg
                  style="margin-bottom: -2.5rem"
                  class="icon icon--primary quote__line"
                  height="210"
                  width="500"
                >
                  <line
                    x1="0"
                    y1="2.5"
                    x2="100"
                    y2="2.5"
                    style="stroke: rgb(255, 187, 0); stroke-width: 4"
                  />
                </svg>
                <div class="testimonials-avatar">
                  <h3>Harold Adams</h3>
                  <h4>Chelsea, London</h4>
                </div>
              </div>
              <div class="testimonials-text-after">
                <i class="fa fa-quote-left"></i>
              </div>
            </div>
          </div>

          <!-- fifth -->
          <div class="swiper-slide">
            <div class="testi-item">
              <div class="testi-avatar">
                <img src="images/f-testimonail-1.PNG" alt="Happy customer" />
              </div>
              <div class="testimonials-text-before">
                <i class="fa fa-quote-right"></i>
              </div>
              <div class="testimonials-text">
                <div class="listing-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <p>
                  Booking was very good, young lady from your office called me
                  and spoke to me in English and gave me support, also answered
                  my questions. Thank you, will use the train any time if I can.
                </p>
                <svg
                  style="margin-bottom: -2.5rem"
                  class="icon icon--primary quote__line"
                  height="210"
                  width="500"
                >
                  <line
                    x1="0"
                    y1="2.5"
                    x2="100"
                    y2="2.5"
                    style="stroke: rgb(255, 187, 0); stroke-width: 4"
                  />
                </svg>
                <div class="testimonials-avatar">
                  <h3>Jaxon Clarke</h3>
                  <h4>Kensington, London</h4>
                </div>
              </div>
              <div class="testimonials-text-after">
                <i class="fa fa-quote-left"></i>
              </div>
            </div>
          </div>

          <!-- testi end -->
        </div>
      </div>
    </div>

    <div class="tc-pagination"></div>
  </div>
</section>
